build/
demo_proj/
.vscode/
.idea/

cmake-build-debug/
cmake-build-release/
CMakeFiles/

debug/
venv/
.cache
.build/
dist/



# antlr
.antlr/
src/.antlr/

src/Lexer/YupLexer.cc
src/Lexer/YupLexer.cpp
src/Lexer/*.interp
src/Lexer/*.tokens

src/Parser/*.interp
src/Parser/*.tokens
src/Parser/YupParser.cc
src/Parser/YupParserBaseVisitor.cc
src/Parser/YupParserVisitor.cc
src/Parser/YupParser.cpp
src/Parser/YupParserBaseVisitor.cpp
src/Parser/YupParserVisitor.cpp

include/Parser/YupParser.h
include/Parser/YupParserBaseVisitor.h
include/Parser/YupParserVisitor.h
include/Lexer/YupLexer.h

include/lexer/YupLexer.h