build/
demo_proj/
.vscode/
.idea/

cmake-build-debug/
cmake-build-release/
CMakeFiles/

debug/
venv/
.cache
.build/



# antlr
.antlr/
src/.antlr/

src/lexer/YupLexer.cc
src/lexer/YupLexer.cpp
src/lexer/*.interp
src/lexer/*.tokens

src/parser/*.interp
src/parser/*.tokens
src/parser/YupParser.cc
src/parser/YupParserBaseVisitor.cc
src/parser/YupParserVisitor.cc
src/parser/YupParser.cpp
src/parser/YupParserBaseVisitor.cpp
src/parser/YupParserVisitor.cpp

include/parser/YupParser.h
include/parser/YupParserBaseVisitor.h
include/parser/YupParserVisitor.h

include/lexer/YupLexer.h